body {
  background-image: url("https://i.imgur.com/V0TDyGS.jpg"), url("https://i.imgur.com/8Hbjr9a.jpg"), url("https://i.imgur.com/Wju8I2I.jpg");
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
  background-position: 480px 200px, 480px 940px, 480px 1650px;
  background-size: 50%, 50%;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

ul {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}

input[type=text] {
    width: 80px;
    border: 0px solid #FFF;
    font-size: 23px;
    color: black;
    background-color: transparent;
    font-weight: bold;
    font-family: Helvetica;
}

input[type=text]:focus {
    width: 80px;
    outline-width: 0;
}

::-webkit-input-placeholder {
    color: #000;
    font-family: Helvetica;
    font-weight: bold;
}

.Search input:hover::-webkit-input-placeholder {
    color: red;
}

.Container {
  margin-left: 45px;
  position: relative;
  bottom: 10px;
}

#Havn {
  font-family: Raleway;
  font-weight: 700;
  font-size: 70px;
}

#Curated {
  font-size: 10px;
  font-family: Raleway;
  font-weight: bold;
  position: relative;
  bottom: 50px;
  left: 7px;

}

#Gender {
  display: inline;
  font-family: Helvetica;
  font-weight: bold;
  font-size: 23px;
}

#Search {
  display: inline-block;
  font-family: Helvetica;
  font-weight: bold;
  font-size: 23px;
}

#Search:hover {
  color: red;
}

.Gender {
  word-spacing: 0.7em;
  position: relative;
  right: 20px;
  bottom: 5px;
}

#Gender:hover {
  color: red;
}

.Search {
  margin-right: 33px;
  word-spacing: 1.8em;
  position:  fixed;
  float: right;
  left: 880px;
  top: 65px;
}

.SearchWrapper {
  height: 100%;
}

.AD1 {
  float: right;
  color: white;
  font-size: 14px;
  font-weight: bold;
  font-family: Helvetica;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  line-height: 0.9em;
  right: 355px;
  top: 280px;
}

.AD2 {
  float: right;
  color:  #262323;
  font-size: 14px;
  font-weight: bold;
  font-family: Helvetica;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  line-height: 0.7em;
  right: 70px;
  top: 790px;
}

.AD3 {
  float: right;
  color: red;
  font-size: 18px;
  font-weight: bold;
  font-family: Helvetica;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  line-height: 0.7em;
  letter-spacing: -0.05em;
  left: 180px;
  top: 1740px;
}

#ListHeader {
  font-weight: bold;
  font-size: 19px;
}

.Brands {
  font-family: Helvetica;
  font-size: 0px;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: 0.03em;
  margin-bottom: 1100px;
}

.Brands li {
  font-size: 14px;
}

footer {
  font-size: 13px;
  font-family: Helvetica;
  font-weight: bold;
  word-spacing: 15px;
  letter-spacing: 0.01em;
  float: right;
  margin-right: 58px;
}

#BottomBar {
  display: inline-block;
}

#Newsletter {
  font-size: 13px;
  font-family: Helvetica;
  font-weight: bold;
}

footer input[type=text] {
    width: 65px;
    border: 0px solid #FFF;
    color: black;
    background-color: transparent;
    font-weight: bold;
    font-family: Helvetica;
    -webkit-transition: width 0.4s ease-in-out;
}

footer input[type=text]:focus {
    width: 160px;
    outline-width: 0;
}

.TC {
  font-size: 11px;
  font-family: Helvetica;
  word-spacing: 30px;
  position: relative;
  margin-left: 45px;
  top: 5px;
}

#TC1 {
  display: inline;
  word-spacing: normal;
}

#TC2 {
  display: inline;
  word-spacing: normal;
}

#Sam {
  font-size: 14px;
}

#Sale {
  word-spacing: -0.15em;
}
